name: fullzap

on:
  workflow_dispatch:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Start WebGoat
        run: |
          docker rm -f webgoat || true
          docker run -d --name webgoat -p 8081:8080 webgoat/webgoat

      - name: Wait for WebGoat
        run: |
          for i in {1..40}; do
            curl -sSf http://localhost:8081/WebGoat/login && exit 0
            sleep 5
          done
          exit 1

      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          target: http://localhost:8081/WebGoat
          docker_name: ghcr.io/zaproxy/zaproxy:stable
          fail_action: false
          artifact_name: zapfullwebgoat
